<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-xl-4 mt-md-3">
    <h2 class="bold mb-4"><%= t('devise.registrations.new.sign_up') %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-outline mb-4">
        <%= f.email_field :email, autofocus: true,
                          autocomplete: "email",
                          placeholder: "*#{t('activerecord.attributes.user.email')}",
                          class: 'form-control form-control',
                          required: true %>
      </div>

      <div class="form-outline mb-4">
        <%= f.text_field :username,
                         placeholder: "*#{t('activerecord.attributes.user.username')}",
                         class: 'form-control form-control',
                         required: true %>
      </div>

      <div class="form-outline mb-4">
        <div class="input-group" data-controller="password-visibility" data-password-visibility-hidden-class="invisible">
          <%= f.password_field :password,
                               placeholder: "*#{t('activerecord.attributes.user.password')}",
                               autocomplete: 'new-password',
                               class: 'form-control',
                               spellcheck: "false",
                               data: { 'password-visibility-target' => 'input' },
                               required: true %>

          <%= button_tag name: 'password-button',
                         type: 'button',
                         class: 'btn btn-outline-secondary position-relative',
                         data: { action: 'password-visibility#toggle' } do %>
            <span data-password-visibility-target="icon" class="position-absolute translate-middle">
              <i class="bi bi-eye"></i>
            </span>
            <span data-password-visibility-target="icon" class="position-absolute translate-middle invisible">
              <i class="bi bi-eye-slash"></i>
            </span>
          <% end %>
        </div>
      </div>

      <div class="form-outline mb-4">
        <div class="input-group" data-controller="password-visibility" data-password-visibility-hidden-class="invisible">
          <%= f.password_field :password_confirmation,
                               placeholder: "*#{t('activerecord.attributes.user.password_confirmation')}",
                               autocomplete: "new-password",
                               class: 'form-control',
                               spellcheck: "false",
                               data: { 'password-visibility-target' => 'input' },
                               required: true %>

          <%= button_tag name: 'confirmation-password-button',
                         type: 'button',
                         class: 'btn btn-outline-secondary position-relative',
                         data: { action: 'password-visibility#toggle' } do %>
            <span data-password-visibility-target="icon" class="position-absolute translate-middle">
              <i class="bi bi-eye"></i>
            </span>
            <span data-password-visibility-target="icon" class="position-absolute translate-middle invisible">
              <i class="bi bi-eye-slash"></i>
            </span>
          <% end %>
        </div>
      </div>

      <div class="d-grid mx-auto">
        <%= f.submit t('devise.registrations.new.sign_up'), class: 'btn btn-primary mb-4' %>
      </div>
    <% end %>

    <div class="text-center">
      <p><%= t('devise.shared.links.or_sign_in_with') %>:</p>
      <%= render "devise/shared/omniauth_links" %>

      <p><%= t('devise.registrations.already_have_an_account') %> <%= link_to t('devise.shared.links.sign_in'), user_session_path %></p>
    </div>
  </div>
</div>

