<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-xl-4 mt-md-3">
    <h2 class="bold mb-4">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-outline mb-4">
        <%= f.email_field :email, autofocus: true, autocomplete: "email",
                          placeholder: "*Email",
                          class: 'form-control form-control',
                          required: true %>
      </div>

      <div class="form-outline mb-4">
        <%= f.text_field :username, placeholder: "*Username",
                          class: 'form-control form-control',
                          required: true %>
      </div>

      <div class="form-outline mb-4">
        <div class="input-group" data-controller="password-visibility" data-password-visibility-hidden-class="invisible">
          <%= f.password_field :password, placeholder: "*Password",
                               autocomplete: 'new-password',
                               class: 'form-control',
                               spellcheck: "false",
                               data: { 'password-visibility-target' => 'input' },
                               required: true %>

          <%= button_tag name: 'password-button',
                         type: 'button',
                         class: 'btn btn-outline-secondary position-relative',
                         data: { action: 'password-visibility#toggle' } do %>
            <span data-password-visibility-target="icon" class="position-absolute translate-middle">
              <i class="bi bi-eye"></i>
            </span>
            <span data-password-visibility-target="icon" class="position-absolute translate-middle invisible">
              <i class="bi bi-eye-slash"></i>
            </span>
          <% end %>
        </div>
      </div>

      <div class="form-outline mb-4">
        <div class="input-group" data-controller="password-visibility" data-password-visibility-hidden-class="invisible">
          <%= f.password_field :password_confirmation, placeholder: "*Password Confirmation",
                               autocomplete: "new-password",
                               class: 'form-control',
                               spellcheck: "false",
                               data: { 'password-visibility-target' => 'input' },
                               required: true %>

          <%= button_tag name: 'confirmation-password-button',
                         type: 'button',
                         class: 'btn btn-outline-secondary position-relative',
                         data: { action: 'password-visibility#toggle' } do %>
            <span data-password-visibility-target="icon" class="position-absolute translate-middle">
              <i class="bi bi-eye"></i>
            </span>
            <span data-password-visibility-target="icon" class="position-absolute translate-middle invisible">
              <i class="bi bi-eye-slash"></i>
            </span>
          <% end %>
        </div>
      </div>

      <div class="d-grid mx-auto">
        <%= f.submit "Sign un", class: 'btn btn-primary mb-4' %>
      </div>
    <% end %>

    <div class="text-center">
      <p>or register with:</p>
      <%= render "devise/shared/omniauth_links" %>

      <p>Already have an account? <%= link_to 'Sign in', user_session_path %></p>
    </div>
  </div>
</div>

