<%= form_with model: competition do |form| %>
  <div class="row mb-3">
    <%= form.label :name, 'Название', style: "display: block", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="row mb-3">
    <%= form.label :description, 'Описание', style: "display: block", class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <%= form.submit class: "btn btn-primary mb-3" %>
<% end %>
