<!DOCTYPE html>
<html>
  <head>
    <title>Versus</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: 'shared/header' %>
    <%= render 'shared/notice' %>

    <div class="container mt-3">
      <%= yield %>
    </div>
  </body>
</html>
